.book{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.book p{
  margin-top: 0;
}

.book img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}


.bookList {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
.bookList p{
  margin-top: 0;
}

.bookList img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}